<h1><%=@message.category.mood%></h1>

<h2><%= @message.title %></h2>

<p><%=@message.content%></p>

<!-- <a href="/user/<%=user.id%>"><%= category.mood %> </a> -->
<div class ="options">
  <a href='/logout'> Logout </a>
</div>